# Ignore node_modules folders in both frontend and backend directories
/app/node_modules
/server/node_modules
/utilities.txt

# Ignore .env files in both frontend and backend directories
/app/.env
/server/.env

# Optional: You can also add general ignore patterns for all node_modules and .env files
# node_modules
# .env
.agents
/app/dist
/easyforms-sdk/dist
/easyforms-sdk/node_modules